In [1]:
import pandas as pd

In [ ]:
df = pd.read_excel('data/tmb_fc_data.xlsx', sheet_name='player_info')
df

In [ ]:
import numpy as np
type(df[df['player_name']=='Farhan']['secondary_position'].iloc[0])

In [ ]:
type(df[df['player_name']=='Danish']['secondary_position'].iloc[0])

In [ ]:
df2 = df[df['primary_position']=='FWD']
df2.reset_index(inplace=True, drop=True)
df2

In [ ]:
list(df['player_name'])

In [ ]:
# Example 6: Using pandas DataFrame.reset_index()
df2 = df.groupby(['primary_position'])['primary_position'].count()
df2

In [ ]:
count_of_positions = {position: df2[position] for position in df2.index}
count_of_positions

In [ ]:
if 6 in count_of_positions.values():
    print('yes')

In [ ]:
# Value to search
value_to_find = 6

# Find the key corresponding to the value
key = next((k for k, v in count_of_positions.items() if v == value_to_find), None)
key

In [ ]:
import matplotlib.pyplot as plt

# Function to draw the football pitch
def draw_pitch():
    fig, ax = plt.subplots(figsize=(10, 7))
    ax.set_xlim(0, 100)
    ax.set_ylim(0, 100)
    ax.set_facecolor('green')

    # Draw pitch outline
    plt.plot([0, 0, 100, 100, 0], [0, 100, 100, 0, 0], color="white", linewidth=2)
    plt.plot([50, 50], [0, 100], color="white", linewidth=2)  # Halfway line
    plt.plot([0, 100], [50, 50], color="white", alpha=0)  # Transparency to avoid clutter

    # Center circle
    center_circle = plt.Circle((50, 50), 10, color="white", fill=False, linewidth=2)
    ax.add_patch(center_circle)
    ax.plot(50, 50, 'wo')  # Center spot

    return fig, ax

# Player lineup
players = {
    "Goalkeeper": [(10, 50)],
    "Defenders": [(30, 20), (30, 40), (30, 60), (30, 80)],
    "Midfielders": [(50, 30), (50, 50), (50, 70)],
    "Forwards": [(70, 40), (70, 60)],
}

player_names = [
    "Khalis", "Faris", "Hafiz", "Danish",  # Defenders
    "Imran", "Isa", "Muk",                # Midfielders
    "Abdullah", "Farhan",                 # Forwards
    "Ashraf",                             # Goalkeeper
]

# Map names to positions
positions = [pos for role in players.values() for pos in role]

fig, ax = draw_pitch()

# Plot players
for (x, y), name in zip(positions, player_names):
    ax.text(x, y, name, color="green", ha="center", va="center", fontsize=10, fontweight="bold")
    ax.plot(x, y, 'wo', markersize=8)  # Player marker

plt.title("Team Lineup", color="green", fontsize=16, fontweight="bold", pad=20)
plt.axis("off")
plt.show()

In [2]:
df = pd.read_excel('../data/tmb_fc_data.xlsx', sheet_name='goals')
df

,Date,Khalis,Faris,Hafiz,Danish,Imran,Isa,Muk,Abdullah,Farhan,Ashraf,Hamizan,Hanif,Nabil,Gan
0,2023-12-16,5.0,NaN,3.0,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2024-01-07,2.0,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2024-01-27,2.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2024-02-18,5.0,3.0,NaN,1.0,2.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2024-02-24,2.0,1.0,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,2024-03-03,2.0,1.0,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,2024-03-08,3.0,NaN,1.0,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,2024-05-21,1.0,1.0,NaN,2.0,1.0,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,2024-06-16,NaN,NaN,NaN,NaN,NaN,NaN,3.0,1.0,NaN,NaN,NaN,NaN,NaN,NaN
9,2024-06-22,1.0,NaN,NaN,2.0,3.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10,2024-08-10,NaN,NaN,1.0,3.0,NaN,NaN,NaN,4.0,NaN,NaN,1.0,NaN,NaN,NaN
11,2024-09-08,3.0,1.0,NaN,NaN,NaN,NaN,NaN,1.0,NaN,NaN,NaN,1.0,NaN,NaN
12,2024-09-14,1.0,1.0,1.0,NaN,NaN,1.0,NaN,NaN,NaN,NaN,3.0,NaN,1.0,NaN
13,2024-10-06,NaN,NaN,NaN,NaN,2.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14,2024-11-09,3.0,1.0,1.0,1.0,NaN,NaN,6.0,NaN,NaN,NaN,NaN,2.0,NaN,NaN
15,2024-12-21,NaN,1.0,NaN,NaN,NaN,NaN,2.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [3]:
# Melting the DataFrame
melted_df = pd.melt(df, id_vars=["Date"], var_name="Name", value_name="Value")
melted_df

          Date    Name  Value
0   2023-12-16  Khalis    5.0
1   2024-01-07  Khalis    2.0
2   2024-01-27  Khalis    2.0
3   2024-02-18  Khalis    5.0
4   2024-02-24  Khalis    2.0
..         ...     ...    ...
219 2024-09-08     Gan    NaN
220 2024-09-14     Gan    NaN
221 2024-10-06     Gan    NaN
222 2024-11-09     Gan    NaN
223 2024-12-21     Gan    NaN

[224 rows x 3 columns]

In [4]:
# Group by 'Name' and sum the 'Value' column
player_goals = melted_df.groupby("Name", as_index=False)["Value"].sum()

# Sort by total goals in descending order
player_goals = player_goals.sort_values(by="Value", ascending=False)
player_goals

        Name  Value
11    Khalis   30.0
2     Danish   12.0
12       Muk   12.0
4      Faris   11.0
6      Hafiz    8.0
9      Imran    8.0
0   Abdullah    6.0
7    Hamizan    4.0
8      Hanif    3.0
10       Isa    1.0
13     Nabil    1.0
1     Ashraf    0.0
3     Farhan    0.0
5        Gan    0.0

In [ ]:
# Calculate the total goals for each row (ignoring NaN values)
df['Total Goals'] = df.iloc[:, 1:-1].sum(axis=1)
df

In [ ]:
df['Total Goals'] = df['Khalis'] + df['Faris']
df

In [ ]:
list_players = list(df.columns)[1:]

df['Total Goals'] = df[list_players].sum(axis=0, skipna=True)

df

In [ ]:
df_players_only = df.drop('Date', axis=1)
df_players_only
df_players_only.sum()

In [ ]:
df_players_only = df.drop('Date', axis=1)
total_sum = df_players_only.sum().sum()
total_sum

In [63]:
import pandas as pd
import matplotlib.pyplot as plt
from mplsoccer.pitch import Pitch
import seaborn as sns

In [ ]:
# I need to generate synthetic data
#Read in the data
df = pd.read_csv('data/messibetis.csv')
df.head(10)

In [ ]:
# Keep necessary columns only
df = df[['player','x','y','outcome','endX','endY']]
df.head(10)

In [ ]:
# 1. Load data from excel
excel_file = 'data/tmb_fc_data.xlsx'
player_info = pd.read_excel(excel_file, sheet_name='player_info')
player_pos = player_info[['player_name','primary_position']]
player_pos

In [ ]:
import random 

all_players_passes = pd.DataFrame()

for _, row in player_pos.iterrows():
    if row['primary_position']=='FWD':
        df_temp = df.copy()
        # Change the player name
        df_temp['player'] = row['player_name']

        # Randomise coordinates
        df_temp['x'] = df_temp['x'].apply(lambda i: random.randint(-10, 10)+i if i<100 and i>10 else random.randint(1, 100))
        df_temp['y'] = df_temp['y'].apply(lambda i: random.randint(-10, 10)+i if i<100 and i>10 else random.randint(1, 100))
        df_temp['endX'] = df_temp['endX'].apply(lambda i: random.randint(-10, 10)+i if i<100 and i>10 else random.randint(1, 100))
        df_temp['endY'] = df_temp['endY'].apply(lambda i: random.randint(-10, 10)+i if i<100 and i>10 else random.randint(1, 100))
    
    if row['primary_position']=='MID':
        df_temp = df.copy()
        # Change the player name
        df_temp['player'] = row['player_name']

        # Randomise coordinates
        df_temp['x'] = df_temp['x'].apply(lambda i: random.randint(-20, -5)+i if i>20 else random.randint(1, 90))
        df_temp['y'] = df_temp['y'].apply(lambda i: random.randint(-20, -5)+i if i>20 else random.randint(1, 90))
        df_temp['endX'] = df_temp['endX'].apply(lambda i: random.randint(-20, -5)+i if i>20 else random.randint(1, 90))
        df_temp['endY'] = df_temp['endY'].apply(lambda i: random.randint(-20, -5)+i if i>10 else random.randint(1, 90))

    if row['primary_position']=='DEF':
        df_temp = df.copy()
        # Change the player name
        df_temp['player'] = row['player_name']

        # Randomise coordinates
        df_temp['x'] = df_temp['x'].apply(lambda i: random.randint(-40, -20)+i if i>40 else random.randint(1, 65))
        df_temp['y'] = df_temp['y'].apply(lambda i: random.randint(-40, -20)+i if i>40 else random.randint(1, 65))
        df_temp['endX'] = df_temp['endX'].apply(lambda i: random.randint(-40, -20)+i if i>40 else random.randint(1, 65))
        df_temp['endY'] = df_temp['endY'].apply(lambda i: random.randint(-40, -20)+i if i>40 else random.randint(1, 65))

    if row['primary_position']=='GK':
        df_temp = df.copy()
        # Change the player name
        df_temp['player'] = row['player_name']

        # Randomise coordinates
        df_temp['x'] = df_temp['x'].apply(lambda i: random.randint(-40, -20)+i if i>10 else random.randint(1, 65))
        df_temp['y'] = df_temp['y'].apply(lambda i: random.randint(-40, -20)+i if i>40 else random.randint(1, 65))
        df_temp['endX'] = df_temp['endX'].apply(lambda i: random.randint(-40, -20)+i if i>40 else random.randint(1, 65))
        df_temp['endY'] = df_temp['endY'].apply(lambda i: random.randint(-40, -20)+i if i>40 else random.randint(1, 65))


    # Randomise outcome
    pass_percentage = random.randint(10, 50)
    df_temp['outcome'] = df_temp['outcome'].apply(lambda i: "Successful" if random.randint(1, 100)>=pass_percentage else "Unsuccessful")

    all_players_passes = pd.concat([all_players_passes,df_temp])

all_players_passes.head(20)

In [ ]:
all_players_passes.tail(20)

In [72]:
# save as csv
all_players_passes.to_csv('data/dummy_pass_stats.csv', index=False)